<!-- wp:template-part {"slug":"header","tagName":"div"} /-->

<!-- wp:group {"tagName":"main","className":"jetpack-page-content","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0"}}}} -->
<main class="wp-block-group jetpack-page-content">
	<!-- wp:jetpack-theme/hero /-->
	<!-- wp:jetpack-theme/blur-headline /-->
	<!-- wp:jetpack-theme/features-highlights /-->
	<!-- wp:jetpack-theme/features-bento /-->
	<!-- wp:jetpack-theme/testimonials /-->
	<!-- wp:jetpack-theme/synced-block {"slug":"jetpack-pricing-section-compact"} /-->
	<!-- wp:jetpack-theme/faq /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
